/* CURRICULUM */
body{
    background-image: url("https://cvonline.me/assets/img/triangle-bg-green.png");
}
#firstDiv{
    color: rgb(12, 26, 156);
}
#secDiv{
    color: rgb(29, 33, 68);
    font-size: 20px;
    width: 50%;
    border: 2px solid rgb(6, 234, 250);
    border-radius: 10px;
}
.tittleUl{
    color: rgb(29, 33, 68) ;
    font-size: 18px;
}
.ul{
    font-size: 18px;
    width: 28%;
    margin: 20px;
    border: 2px solid rgb(6, 234, 250);
    border-radius: 10px;
}